@using System.Globalization
@using Zoombraco.Models
@using Zoombraco.Search
@using Zoombraco.Views

@inherits ZoombracoViewPage<RenderPage<ZoombracoDemo.Logic.Models.Home>>


@{ Html.RenderPartial("~/Views/Partials/Shared/_HeroPanel.cshtml", Model.Content);}
<h1>@Model.Content.Name</h1>

<section>
    <h2>Search</h2>

    <p>Searching for the term "socket" against all cultures</p>
    @{
        SearchResponse result = SearchEngine.SearchSite("socket");
    }
    <p>Total Matches: @result.TotalCount</p>


    @foreach (SearchMatch match in result.SearchMatches)
    {
        <a href="@match.Url">@match.HighlightText</a>
    }

    <p>Searching for the term "Sichern" against culture <code>de</code></p>
    @{
        SearchResponse result2 = SearchEngine.SearchSite("Sichern", new[] { new CultureInfo("de") });
    }
    <p>Total Matches: @result2.TotalCount</p>


    @foreach (SearchMatch match in result2.SearchMatches)
    {
        <a href="@match.Url">@match.HighlightText</a>
    }


    <p>Searching for the term "تأمين" against culture <code>ar-AE</code></p>
    @{
        SearchResponse result3 = SearchEngine.SearchSite("تأمين", new[] { new CultureInfo("ar-AE") });
    }
    <p>Total Matches: @result3.TotalCount</p>

    <div dir="rtl">
        @foreach (SearchMatch match in result3.SearchMatches)
        {
            <a href="@match.Url">@match.HighlightText</a>
        }
    </div>
</section>
<h2>Vorto Nested Content</h2>
@{ Html.RenderPartial("~/Views/Partials/Shared/_NestedContent.cshtml", Model.Content);}